{% extends "base.html" %}
{% load echelon_helpers %}

{% block title %}Echelon | {{ category.title }}{% endblock %}

{% block base-sidebar %}
  <div id="breadcrumb">
    <a href="/"><span id="breadhome"></span></a>
    {% breadcrumb_for category %}
  </div>
  <div class="clear"></div>
  {% child_categories_of category %}
{% endblock %}

{% block base-content %}
  {% load markup %}

  <div id="article">
    <div id="art_top">
      <span class="title">{{ category }}</span>
    </div>

    {% if not category.hide_content %}
      <div class="markdown">
        {{ category.content|custom_variables:request|markdown }}
      </div>
    {% endif %}

    <!-- end art_top -->
    {% pages_for category %}
    {% subcategories_for category %}
  </div>

  <div id="marginleft">
    <div id="infobar">
      <p>
        {% if category.parent and category.parent.id != category.id %}
          Posted In
          <a href="{{ category.parent.get_absolute_url }}">{{ category.parent }}</a>
        {% endif %}
        <span class="right">Last updated {{ category.updated }}</span>
      </p>
    </div>
    <!-- end infobar -->
  </div>
  <!-- end marginleft -->
{% endblock %}
