{% extends "base.html" %}
{% load echelon_helpers %}

{% block title %}Echelon | {{ page.root_category }} - {{ page.title }}{% endblock %}

{% block javascript %}
  {{ page.script|safe }}
{% endblock %}

{% block base-sidebar %}
    <div id="breadcrumb">
      <a href="/"><span id="breadhome"></span></a>
      {% breadcrumb_for page %}
    </div>
    <div class="clear"></div>
    {% child_categories_of page.root_category %}
{% endblock %}

{% block base-content %}
  {% load markup %}

  <div id="article">
    <div id="art_top">
      <span class="title">{{ page }}</span>
    </div>
    <!-- end art_top -->

    <div class="markdown">
      {{ page.content|custom_variables:request|markdown }}
    </div>
  </div>

  <div id="marginleft">

    <div id="infobar">
      <p>Posted In
      {% for item in page.categories.all %}
        <a href="{{ item.get_absolute_url }}">{{ item }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
      <span class="right">Last updated: {{ page.updated }}</span>
      </p>
    </div>
    <!-- end infobar -->
  </div>
  <!-- end marginleft -->
{% endblock %}
